* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  border: 20px solid palevioletred;
  height: 100vh;
  width: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#app {
  font-size: 40px;
  color: palevioletred;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -20px;
}
